﻿@model EventsListViewModel

<h1>Events</h1>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                @foreach (var e in Model.EventsItems)
                {

                    <div class="section">
                        <div class="container">
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="@Url.Action("TicketsEvent", new {id = e.Id, page = 1 })">
                                        <img src="~/images/@e.Banner"
                                             class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <h2>@e.Name</h2>
                                    <h3>@e.Venue.City.Name</h3>
                                    <h4>@e.Venue.Name</h4>
                                    <h4>@e.Date.ToString("f")</h4>
                                    <p>
                                        <br>
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                             
            </div>
        </div>
    </div>
</div>
@Html.PageLinks(Model.PagingInfo, x => Url.Action("Events", new { page = x }))

