﻿@model EventTicketsListView

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="~/images/@Model.Event.Banner"
                                     class="img-responsive">
                            </div>
                            <div class="col-md-6">
                                <h2>@Model.Event.Name</h2>
                                <h3>@Model.Event.Venue.City.Name</h3>
                                <h4>@Model.Event.Venue.Name</h4>
                                <h4>@Model.Event.Date.ToString("f")</h4>
                                <h4>@Model.Event.Description</h4>
                                <p>
                                    <br>
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <hr>
        <div class="row">
            <p>
                <br>
            </p>
            <div class="col-md-12">
                @if (Model.PagingInfo.TotalItems > 0)
                {
                    int i = 1;
                    <table class="table">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>@Localizer["SellerName"]</th>
                                <th>@Localizer["Price"]</th>
                                <th>@Localizer["SellerNotes"]</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Ticket t in Model.Event.Tickets)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@t.User.FirstName  @t.User.LastName</td>
                                    <td>@t.Price</td>
                                    <td>@t.Note</td>
                                    <td>
                                        <div class="col-md-1">
                                            <a asp-action="Order" asp-controller="Main" asp-route-id="@t.Id"
                                               class = "btn btn-primary">@Localizer["Grab"]
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                i++;

                            }

                        </tbody>
                    </table>
                    @Html.PageLinks(Model.PagingInfo, x => Url.Action("TicketsEvent", new { id = @Model.Event.Id, page = x }))

                }
                else
                {
                    <h2>@Localizer["NoTickets"]</h2>
                }
            </div>
        </div>
    </div>
</div>
