﻿@model User

<div class="section">
    <div class="container">
        <hr>
        <div class="row">
            <p>
                <br>
            </p>

            <h3>@Localizer["MyAccountInfo"]</h3>

            <div class="col-md-12">
                <h4>@Localizer["FirstName"]: @Model.FirstName</h4>
                <h4>@Localizer["LastName"]: @Model.LastName</h4>
                <h4>@Localizer["Country"]: @Model.Country</h4>
                <h4>@Localizer["Adress"]: @Model.Adress</h4>
                <h4>@Localizer["PhoneNumber"]: @Model.PhoneNumber</h4>
                <h4>@Localizer["Email"]: @Model.Email</h4>

            </div>

        </div>
    </div>
</div>
