﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


<div class="collapse navbar-collapse" id="navbar-ex-collapse">
@if (Context.User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-action="MyOrders" asp-controller="User">@Localizer["MyOrders"]</a>
        </li>
        <li>
            <a asp-action="MyTickets" asp-controller="User">@Localizer["MyTickets"]</a>
        </li>
        <li class="active">
            <a asp-action="MyAccount" asp-controller="User">@Context.User.Identity.Name</a>
        </li>
        <li>
            <a asp-action="Logout" asp-controller="Account">@Localizer["Logout"]</a>
        </li>
        <li>
            @await Html.PartialAsync("_SelectLanguagePartial")
        </li>
    </ul>
}
else
{
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-action="Register" asp-controller="Account">@Localizer["Register"]</a>
            </li>
            <li>
                <a asp-action="Login" asp-controller="Account">@Localizer["Login"]</a>
            </li>
            <li>
                @await Html.PartialAsync("_SelectLanguagePartial")
            </li>
        </ul>
        }
</div>