﻿@using System.Globalization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> _locOptions

@{
    CultureInfo selectedCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture;
    IList<CultureInfo> cultures = _locOptions.Value.SupportedUICultures;
}

<div title="@Localizer["SelectLenguage"]">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                <img src="/images/flags/@String.Format("{0}.png",selectedCulture.Name)"/>
              <span class="caret"></span>
            </a>
            <ul class='dropdown-menu'>
                @foreach (var culture in cultures)
                {
                    <li>
                        <a asp-action="SetLanguage" asp-controller="Main" asp-route-culture="@culture.Name"
                           asp-route-returnUrl="@Context.Request.Path">
                            <img src="/images/flags/@String.Format("{0}.png",culture.Name)"/>
                            @culture.DisplayName
                        </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>
